<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352256142433-ffsbu1hc66ofoqdqgo5ofjhik6dj55rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352256142433-ffsbu1hc66ofoqdqgo5ofjhik6dj55rk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352256142433-38h16aooveqs9bns876suv298stkgsod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs4w9cARzi4jbkF6HD_zIpVletLmkO9RY</string>
	<key>GCM_SENDER_ID</key>
	<string>352256142433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-with-di</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-with-di.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352256142433:ios:422ed5c2d5031fe6354e20</string>
</dict>
</plist>